---
import Stars from "../assets/stars.svg";
---

<section class="product-reviews" id="customers">
  <div class="container">
    <div class="center">
      <div class="text-container text-white">
        <h3 class="h1-title">Seamless Multi-Language Support</h3>
        <p>
          Instantly generate comprehensive unit tests and documentation for
          Python, Java, Go, JavaScript, and more—no matter your tech stack.
        </p>
      </div>

      <!-- <div class="customer-reviews m-margin">
        <div class="flex center">
          <img src={Stars.src} />
          <span class="s-paragraph">Base on 87,00+ reviews</span>
        </div>
        <small><strong>1 millon</strong> customers and counting</small>
      </div> -->
      <div class="center">
        <a href="#" class="button button-primary">Try Beta</a>
        <small class="block text-muted-foreground"
          >Focus on building, while Hiro handles the testing for you.</small
        >
      </div>
    </div>

    <div class="customer-avatars">
      <div class="left-side-avatars">
        {
          [
            "languages/flask.svg",
            "languages/go.svg",
            "languages/java.svg",
            "languages/nodejs.svg",
          ].map((v, i) => (
            <div class="circular-image bg-orange-950 border-2 border-dotted border-orange-500 p-4">
              <img src={v} />
            </div>
          ))
        }
      </div>
      <div class="right-side-avatars">
        {
          [
            "languages/python.svg",
            "languages/nextjs-line.svg",
            "languages/atom-original.svg",
            "languages/php-plain.svg",
          ].map((v, i) => (
            <div class="circular-image bg-orange-950 border-2 border-dotted border-orange-500 p-4">
              <img src={v} />
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  .product-reviews {
    padding: 80px 0;
    background-color: #fff;
    .customer-reviews {
      img {
        width: 80px;
      }
      span {
        margin-left: 10px;
      }
    }
    .text-container {
      max-width: 400px;
      margin: 10px auto;
    }
    p,
    h3 {
      margin: 10px 0;
    }
    .container {
      padding: 70px 0;
      position: relative;
    }
    .customer-avatars {
      .circular-image {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden;
        display: inline-block;
        vertical-align: middle;
        img {
          width: 100%;
        }
      }

      .circular-image {
        position: absolute;
      }
      .left-side-avatars .circular-image {
        &:nth-child(1) {
          top: 0;
          left: 20%;
        }
        &:nth-child(2) {
          top: 14%;
          left: 5%;
        }
        &:nth-child(3) {
          bottom: 14%;
          left: 5%;
        }
        &:nth-child(4) {
          bottom: 0%;
          left: 20%;
        }
      }
      .right-side-avatars .circular-image {
        &:nth-child(1) {
          top: 0;
          right: 20%;
        }
        &:nth-child(2) {
          top: 14%;
          right: 5%;
        }
        &:nth-child(3) {
          bottom: 14%;
          right: 5%;
        }
        &:nth-child(4) {
          bottom: 0%;
          right: 20%;
        }
      }
    }

    @media (max-width: 700px) {
      .circular-image img {
        display: none;
      }
    }
  }
</style>
