---
import Logo from "../assets/logo.svg";
import { ArrowRight } from "@lucide/astro";
---

<header class="nav">
  <div class="container flex items-center">
    <div class="nav-logo one-third column">
      <a href="#" class="logo-link">
        <img src={Logo.src} alt="Brand logo" />
      </a>
    </div>
    <nav class="one-third column">
      <ul class="center flex">
        <li><a href="#features">Features</a></li>
        <li><a href="#features">Streamlit</a></li>
        <li><a href="#pricing">Github</a></li>
      </ul>
    </nav>
    <div class="nav-cta one-third column">
      <a
        href="#"
        class="hidden md:inline-flex items-center gap-2 px-6 py-4 font-semibold bg-gradient-to-br from-orange-500 via-yellow-400 to-orange-400 text-black rounded-lg shadow hover:from-orange-600 hover:to-yellow-500 transition-all hover:scale-105 focus:outline-none"
      >
        Try Beta <ArrowRight size={18} className="-mr-1" />
      </a>
    </div>
  </div>
</header>

<style lang="scss">
  .nav {
    padding: 15px 0;

    li {
      list-style: none;
      margin-top: 7px;
    }
    .nav-cta {
      text-align: right;
    }
    a:not(.button):not(.logo-link) {
      color: white;
      padding: 0 20px;
      text-decoration: none;
    }
    .logo-link img {
      width: 90px;
      margin-top: 5px;
    }
    @media (max-width: 700px) {
      nav {
        display: none;
      }
      .nav-cta {
        position: absolute;
        right: 20px;
      }
    }
  }
</style>
