---
import Logo from "../assets/logo.svg";
import { ArrowRight } from "@lucide/astro";
---

<header class="py-4">
  <div class="container flex items-center">
    <div class="w-1/3">
      <a href="/" class="inline-block">
        <img src={Logo.src} alt="Brand logo" class="w-[90px] mt-1" />
      </a>
    </div>
    <nav class="w-1/3 hidden md:flex items-center justify-between">
      <a
        href="/#features"
        class="!text-white px-5 no-underline hover:text-orange-500 transition-all hover:scale-110"
        >Features</a
      >
      <a
        href="/#features"
        class="!text-white px-5 no-underline transition-all hover:scale-110"
        >Streamlit</a
      >
      <a
        href="/#pricing"
        class="!text-white px-5 no-underline transition-all hover:scale-110"
        >Github</a
      >
    </nav>
    <div class="w-1/3 text-right md:relative absolute right-5">
      <a
        href="/beta"
        class="hidden md:inline-flex items-center gap-2 px-6 py-4 font-semibold bg-gradient-to-br from-orange-500 via-yellow-400 to-orange-400 !text-black rounded-lg shadow hover:from-orange-600 hover:to-yellow-500 transition-all hover:scale-105 focus:outline-none"
      >
        Try Beta <ArrowRight size={18} class="-mr-1" />
      </a>
    </div>
  </div>
</header>
